#buttons {
    margin: 10px;
}

.container {
    display: flex;
    flex-flow: wrap;
}

#images {
    display: flex;
    flex-flow: wrap;
}

#images {
    flex: 2;
}

#add-game {
    flex: 1;
}

img {
    margin-top: 5px;    
    max-width: 25vw;
}

.img-with-txt {
    margin: 10px;
}

input, form {
    width: 80%;
    margin: 5px 0px 5px 0px;
}
